.glass-container {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/back.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.loginHeading{
  position: absolute;
  top: 0;
  margin-top: 10vh;
  
  /* margin-bottom: 100px; */
  /* padding-bottom: 100px; */
}
.glass-content {
  /* border: 1px solid green; */
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginButton {
  /* border: 1px solid red; */
  margin-top: 30px;
  width: 90%;
}
.fieldDiv {
  /* border: 1px solid red; */
  margin-bottom: 20px;
  width: 100%;
}
.signupInput {
  font-size: 20px;
  /* width: 90%; */
}
label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.user-type-selection {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  width: 100%;
}

.user-type-icon {
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10%;
}

.user-type-icon.active {
  background-color: #333;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 10px;
  padding: 10px;
  /* width: 250px; */
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
}
