body {
  margin: 0px;
  padding: 0px;
  /* background-color: #0056b3; */
}

.mainDivSignup {
  /* border: 5px solid greenyellow; */
  display: flex;
  justify-content: space-between;
  background-image: url("../ship.png");
  width: 100vw;
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.imageViewSignUP {
  width: 50%;
  height: 100%;
}
.formContainer {
  /* border: 1px solid red; */
  width: 50%;
  height: 100vh;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container {
  /* max-width: 400px; */
  /* margin: 0 auto; */
  /* border: 1px solid red;/ */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 20px; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #fff;
}
.signUpTextfield {
  width: 80%;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}
.signup-container h2 {
  text-align: center;
}
.formDiv {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
  justify-content: center;
  align-items: center;
}



/* Adjust button styling */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
